*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.container{
    background-color: lightblue;
    padding: 100px;
    height: 100%;
    width: 100%;
   
}
h1{
    margin: 20px;
    text-align: center;
}
label,input{
    margin: 5px 550px;
    text-align: center;
}
#height,#width{
    margin-left: 550px;
    height: 30px;
    width: 15vw;
}
button{
    padding: 15px 15px ;
    margin: 20px 710px;
    background-color: lightcoral;
    
}
.result{
    font-size: 30px;
    text-align: center;
}
#weight_guide,p{
    font-size: 20px;
    text-align: center;
    margin: 20px;
}